{% extends "base.html" %}
{% block title %} The CoUnT{% endblock %}
{% block inputs %}
<div class="container">
    <div class="row">
        <div class="col">
            <br/><br/>
            <h1 class="header_page">Let the CoUnT tell you something!</h1>
            <br/>
        </div>
        <div class="row">
            <div class="col-10">
                <form action="/" method="POST">
                    <div class="form-group">
                        <label for="inputQueryText">Input Query</label>
                        <input type="text" class="form-control" id="inputQueryText" aria-describedby="emailHelp"
                               placeholder="Enter query" name="query">
                        <br/>
                    </div>
                    <div class="button">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <br/>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Model Types
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="/">
                                <button type="submit" class="btn btn-default" value="baseline" name="submit_button">
                                    Baseline
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="best_kd" name="submit_button">Best
                                    KD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="the_count" name="submit_button">The
                                    CoUnT
                                </button>
                            </a></li>
                        </form>
                    </ul>
                </div>
                </form>
            </div>
        </div>
        <div class="row">
            <h1 id="test">{{query}}</h1>
        </div>
    </div>
</div>
{% endblock %}