{% extends "base.html" %}
{% block title %} MKD-Ultra{% endblock %}
{% block inputs %}
<div class="container">
    <div class="row">
        <div class="col">
            <br/><br/>
            <h1 class="header_page">Let MKD-Ultra tell you something!</h1>
            <div class='analytics_link'><a href="{{ url_for('analytics') }}">Visit Analytics</a></div>
            <br/>
        </div>
        <div class="row">
            <div class="col-10">
                <form action="/" method="POST">
                    <div class="form-group">
                        <br/>
                        <input type="text" class="form-control" id="inputQueryText" aria-describedby="emailHelp"
                               placeholder="Enter query" name="query">
                        <br/>
                    </div>
                    <div class="button">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <br/>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Model Types
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="/">
                                <button type="submit" class="btn btn-default" value="16-layer-baseline" name="submit_button">
                                    16 Layer Baseline
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="10-layer-baseline" name="submit_button">
                                    10 Layer Baseline
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="6-layer-baseline" name="submit_button">
                                    6 Layer Baseline
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="16-to-10" name="submit_button">
                                    16 -> 10 KD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="16-to-6" name="submit_button">
                                    16 -> 6 KD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="16-to-4" name="submit_button">
                                    16 -> 4 KD
                                </button>
                            </a></li>
                        </form>

                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="16-to-10-to-6" name="submit_button">
                                    16 -> 10 -> 6 MKD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="16-to-10-to-4" name="submit_button">
                                    16 -> 10 -> 4 MKD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="16-to-6-to-4" name="submit_button">
                                    16 -> 6 -> 4 MKD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="16-to-6-to-2" name="submit_button">
                                    16 -> 6 -> 2 MKD
                                </button>
                            </a></li>
                        </form>

                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="2x6-to-6" name="submit_button">
                                    2x6 -> 6 BKD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="2x6-to-4" name="submit_button">
                                    2x6 -> 4 BKD
                                </button>
                            </a></li>
                        </form>
                        <form action="/" method="POST">
                            <li><a class="dropdown-item" href="#">
                                <button type="submit" class="btn btn-default" value="2x6-to-2" name="submit_button">
                                    2x6 -> 2 BKD
                                </button>
                            </a></li>
                        </form>

                    </ul>
                </div>
                </form>
            </div>
        </div>
        <div class="row">
            <h1 id="test">{{query}}</h1>
        </div>
    </div>
</div>
{% endblock %}